---
const { id, type, text, textError } = Astro.props;
---

<div class="form__group" id={`group__${id}`}>
    <label class="form__label" for={id}>{text}</label>
    <div class="form__group-input">
        <input type={type} class="form__input" name={id} id={id} />
        {
            type == "password" ? (
                <img
                    class="icon password_icon"
                    src="/public/no-view.svg"
                    alt="icon"
                    width="18"
                    height="18"
                />
            ) : (
                <img
                    class="icon status_icon"
                    id={id+"_svg"}
                    src="/public/error.svg"
                    alt="icon"
                    width="18"
                    height="18"
                />
            )
        }
    </div>
    {type == "password" && <p class="form__text form__error">{textError}</p>}
</div>
