---
import IconForm from "../IconForm.astro";

const { id, type, text, textError } = Astro.props;
const idLastname = id == "lastname" && 'label-lastname' 
---

<div class="form__group" id={`group__${id}`}>
    <label class="form__label" for={id} id={idLastname}>{text}</label>
    <div class="form__group-input">
        <input type={type} class="form__input" name={id} {id} />
        {
            type == "password" ? (
                <IconForm type="no-view" />
            ) : (
                <IconForm type="error" id={id + "_svg"}/>
            )
        }
    </div>
    {type == "password" && <p class="form__text form__error">{textError}</p>}
</div>
